/* Move down content because we have a fixed navbar that is 50px tall */
body {
 padding-top: 0px;
  padding-bottom: 0px;
}
.content-section {
	overflow-x: hidden;
	background-image: linear-gradient(45deg, #CCCCCC,#DCDCDC, #C0C0C0, #A9A9A9, #808080 ,#696969);
	background-size: 400%;
	animation: post-animation 7s infinite alternate;
}

/*body keyframe animation */
@keyframes post-animation {
0% {
	background-position: left;

}
100% {
background-position: right;
}

}
.navbar-static-top {
  margin-bottom: 0px;
}
.navbar>.container, .navbar>.container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    /* align-items: center; */
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
}

.navbar-nav {
    flex-direction: row;
}

footer p {
    margin: 0 auto;
    width: 1170px;
    padding: 0 0 1px 30px;
    text-align: center;

}
.chat-room-input {
    display: flex;
    flex-wrap: nowrap;
}
 .msg-bottom form .input-group {
     width: 80%;
 }
 .username {
     border-radius: 20px;
     box-shadow: none;
     border-color: white;
 }

 .content-section {
     min-height: 315px;
 }

 .btn {

 }
 .top-align-post {
     background: black;
    position: relative;
    top: -8px;
    min-height: 56px;
    width: 20%;
    display: flex;
    right: -14px;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 16pt;
 }
 .top-align-post:hover {
     background: black;
 }


 .align {
         display: flex;
    justify-content: flex-end;
 }

 .heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 40px;

}
 .heart:hover{
     animation: pulse 1s ease infinite;
 }

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.round {
  border-radius: 20px !important;
    box-shadow: none;
    border-color: white;
    margin-left: 20px;
}