{% extends "layout.html" %}
{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h1>Quit being misled.</h1>
        <p>With overRated, have the security in knowing that the reviews you're reading are relevant to you.</p>
          {%if not current_user.is_authenticated%}
        <p><a class="btn btn-primary btn-lg" href="register" role="button">  Sign up today!   &raquo;</a></p>
        {%endif%}
      </div>
    </div>

    <div class="container">
		<hr class="featurette-divider">

		<div class="row featurette">
		  <div class="col-md-7">
			<h2 class="featurette-heading"> "I no longer have to filter through reviews to find my own demographic" <span class="text-muted"> -Lindsey, 21</span></h2>
			<p class="lead">Instead of being misled by reviews of a bar that is actually frequented by older age groups, you will have the security in knowing that the reviews you're reading are from your own peers.</p>
		  </div>
		  <div class="col-md-5">
			<img class="featurette-image img-responsive center-block img-rounded" src="{{ url_for('static', filename= 'images/friends.jpg')}}" alt="friends">
		  </div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
		  <div class="col-md-7 col-md-push-5">
			<h2 class="featurette-heading"> "I don't worry about finding good study spots anymore!" <span class="text-muted">-Joe, 19</span></h2>
			<p class="lead">Finding good study locations, campus food, cleanest bathrooms, and more can be difficult with a large college campus. Now, you won't have to waste time to find the perfect place for you.</p>
		  </div>
		  <div class="col-md-5 col-md-pull-7">
			<img class="featurette-image img-responsive center-block img-rounded" src="{{ url_for('static', filename= 'images/prr.jpeg')}}" alt="prr">
		  </div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
		  <div class="col-md-7">
			<h2 class="featurette-heading">"overRated lets me share my opinions about classes so that others know which courses to take to better their future" <span class="text-muted">-Matt, 20</span></h2>
			<p class="lead">Do you want to hear genuine reviews on a course? Look no further.</p>
		  </div>
		  <div class="col-md-5">
			<img class="featurette-image img-responsive center-block img-rounded" src="{{ url_for('static', filename= 'images/class.jpg')}}" alt="class">
		  </div>
		</div>

		<hr class="featurette-divider">
    </div>
{% endblock content %}
