{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class = "page-header">
          <h1> Chat Anonymously </h1>
      </div>

      <div class="row">
              <!-- <div class="col-sm-3  msg-page2 roundedcont hidden-sm hidden-xs jumbotron">
                      <h4> Currently Online:</h4>
                  <ul class="list-group cutoff">
                              <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>
                       <li class="list-group-item">Lorem</li>

                            </ul>
          </div> -->


<div class="col-sm-9">
<div class="container jumbotron roundedcont">

<div class="mhead">
<div class="chatimg">

  <!-- INSERT PROFILE PICTURE HERE-->
</div>
  <div class="submsg">
      <h4> {{user.username}}</h4>
      <h6>  overRated User since: {{user.date_created.strftime('%Y-%m-%d')}} </h6> <!--INSERT DATE OF SIGNUP?? OR LAST ACTIVE-->
  </div>
</div>

<div class="chatpg">
  <div class="msg-mm">
      <div class="chats">
          <div class="msg-page">

              <div class="r-chats">
              <div class="r-msg">
                  <div class="r-msg-mm">
 <p class="new-im">  </p>
                  </div>
              </div>
              </div>

              <div class="outgoing-chats">
                      <div class="outgoing-chats-msg">
                              <div class="sent-msg-mm">


                              </div>


                      </div>
                      </div>

                              <div class="r-chats">
                                      <div class="r-msg">
                                          <div class="r-msg-mm">

                                          </div>
                                      </div>
                                      </div>

                                      <div class="outgoing-chats">
                                              <div class="outgoing-chats-msg">
                                                      <div class="sent-msg-mm">

                                                      </div>


                                              </div>
                                              </div>
          </div>
      </div>
  </div>


  <div class="msg-bottom">
      <form action="" method="POST">
          <div class="input-group-append">
              <input class="input-group-text btn btn-primary btn-sm" type="submit"/>

        </div>
      <div class="input-group chat-room-input">
          <input type="text" class="username" placeholder="User Name"/>

          <input type="text" class="message form-control round" placeholder="Type your message here"/>
      </div>
      </form>



  </div>





</div>

</div>


</div>

</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'p.new-im' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

{% endblock content %}
