{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <div class = "container">
          <div class = "page-header">
              <h1> Create An Account </h1>
          </div>
        <form class="form-signin" action="" method="post">
            {{form.hidden_tag()}}
             {{ form.csrf_token }}

            {% if form.errors %}
            <ul>
              {% for error in form.errors.values() %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}

          <div class = "jumbotron">
				<label for="lname" class="sr-only">Username</label>
					  {{ form.username(placeholder='Username', class='form-control') }}
        <label for="inputEmail" class="sr-only">Email address</label>
          {{ form.email(placeholder='Email', class='form-control') }}

              <label for="inputCountryCode" class="sr-only">Password</label>
              {{ form.country_code(placeholder='Country Code', class='form-control') }}

               <label for="inputPhoneNumber" class="sr-only">Password</label>
              {{ form.phone_number(placeholder='Phone Number', class='form-control') }}

              <label for="inputPassword" class="sr-only">Password</label>
              {{ form.password(placeholder='Password', class='form-control') }}

              <label for="inputPassword" class="sr-only">Password</label>
              {{ form.confirm_password(placeholder='Confirm Password', class='form-control') }}

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account">

            <small style="float: right;"><a href="/login">Login</a></small>
          </div>
            </form>
            </div>
    </div>


{% endblock content %}



