{% extends "posts_layout.html" %}
{% block info %}
    {% for post in posts  %}
{%  if 'Restaurant' in post.Category %}
        <div class="card">
                        <div>
                          <h2 class="jumbotronpost">{{ post.Title }}</h2>

                          <div class="cardcontent">

                             <p class="cardtext b"> RATING: {{ post.rating }} </p>
                          <p class="cardtext ">{{ post.content }}</p>
                              <p class="cardtext ">{{ post.Category }}</p>
                          <a href="#" class="btn btn-primary cardbutton">View &rarr;</a>

                        <div class="card-footer text-muted cardtext">
                          Posted on {{post.date_posted.strftime('%Y-%m-%d')}} by  <a href="#"> {{ post.name }} </a>
                        </div>
                    </div>
                    </div>
                      </div>
        {% endif %}
    {% endfor %}


{% endblock info %}
