{% extends "layout.html" %}
{% block content %}

<h1 class="jumbotron posthead"> Reviews <span class="text-muted"> - by your peers, for you. </span></h1>

  <!-- Page Content -->
  <div class="container">
        <div class="row">

  <div class="col-lg-8 col-md-8">
  {% block info %}

  {% endblock %}
  </div>


          <div class="col-lg-3 col-md-3 jumbotron sidebarr">
            <div>
              <h5>Find a review:</h5>
              <div>
                <div class="input-group col-lg-12  col-md-12 col-sm-12 search">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary searchbar" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>

            <div class="linklist">
              <h5 >Local Spots</h5>
              <div>
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-unstyled">
                      <li>
                        <a href="{{ url_for('barPosts') }}">Bars</a>
                      </li>
                      <li>
                        <a href="{{ url_for('restaurantsPosts') }}">Restaurants</a>
                      </li>
                      <li>
                        <a href="{{ url_for('entertainmentPosts') }}">Entertainment</a>
                      </li>
                      <li>
                        <a href="{{ url_for('servicesPosts') }}">Services</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="linklist">
                    <h5 >Campus Spots</h5>
                    <div>
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="list-unstyled">
                            <li>
                              <a href="{{ url_for('librariesPosts') }}">Libraries</a>
                            </li>
                            <li>
                              <a href="{{ url_for('diningPosts') }}">Dining</a>
                            </li>
                            <li>
                              <a href="{{ url_for('bathroomPosts') }}">Bathrooms</a>
                            </li>
                            <li>
                              <a href="{{ url_for('programsPosts') }}">Programs</a>
                            </li>
                              <li>
                              <a href="{{ url_for('professorsPosts') }}">Professors</a>
                            </li>
                               <li>
                              <a href="{{ url_for('studyspotPosts') }}">StudySpot</a>
                            </li>
                               <li>
                              <a href="{{ url_for('classPosts') }}">Class</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>



              </div>
            </div>


          </div>

{% endblock content %}
