{% extends "posts_layout.html" %}
{% block info %}
    {% for post in posts  %}

        <div class="card">
                        <div>
                          <h2 class="jumbotronpost">{{ post.Title }}</h2>

                          <div class="cardcontent">

                             <p class="cardtext b"> RATING: {{ post.rating }} </p>
                          <p class="cardtext ">{{ post.content }}</p>
                              <p class="cardtext ">{{ post.Category }}</p>
                          <a href="#" class="btn btn-primary cardbutton">View &rarr;</a>

                        <div class="card-footer text-muted cardtext">
                          Posted on {{post.date_posted.strftime('%Y-%m-%d')}} by  <a href="#"> {{ post.name }} </a>
                            {% if current_user.is_authenticated %}
        {% if current_user.has_liked_post(post) %}
                            <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
        {% else %}
<a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
        {% endif %}
        {{ post.likes.count() }} likes
    {% else %}
        {{ post.likes.count() }} likes
    {% endif %}
                        </div>
                    </div>
                    </div>
                      </div>

    {% endfor %}


{% endblock info %}
