{% extends "layout.html" %}
{% block content %}

    <div class="text-center">
        <div class = "container">
            <form class="form-signin" action="" method='post'>
              {{form.hidden_tag()}}
                {{ form.csrf_token }}
          {% if form.errors %}
          <ul>
            {% for error in form.errors.values() %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
                <div class = "page-header">
                    <h1>Reset Password </h1>
                </div>

                <div class = "jumbotron"> <!--enlarge font, put text in grey box-->

                <label for="inputUsername" class="sr-only">Email address</label>
                    {{ form.email(placeholder='Email', class='form-control') }}
                    {{ form.submit( class='btn btn-lg btn-primary btn-block') }}
                </div>
            </form>
            </div>
    </div>


{% endblock content %}
