{% extends "layout.html" %}
{% block content %}

<div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="row">
          </div>
        </div>
      </div>

  <div class="jumbotron">

  <div class="container profile">
          <form method="post">
              <div class="row">
                  <div class="col-md-4">
                      <div class="profile-img">
                          <img src="{{ profile_pic }}" alt="Profile Pic"/>

                      </div>

                  </div>

                  <div class="col-md-8">

                      <div class="jumbotron">
                              <p class="posts">{{user.username}}</p>
                              <p class="posts">overRated user since: <span>{{user.date_created.strftime('%Y-%m-%d')}}</span></p>
                              {% if current_user.is_following(user) %}
                              <p><a class="btn btn-secondary" href="{{url_for('unfollow', username=user.username)}}"role="button">Unfollow</a></p>
                              {% else %}
                              <p><a class="btn btn-secondary" href="{{url_for('follow', username=user.username)}}"role="button">Follow</a></p>
                              {% endif %}
                      </div>

                  </div>
                  <row></row>
                  <div class="row">
                  <div class="col-md-10">

              </div>
              </div>

              </div>




          </form>

          <div class="row">
                  <div class="col-md-6">
                    <p><a class="btn btn-secondary" href="#" role="button">Message</a></p>
                    <p><a class="btn btn-secondary" href="#" role="button">Followers</a></p>
                    <p><a class="btn btn-secondary" href="#" role="button">Following</a></p>

                  </div>

                  <div class="col-md-6">
                    <h2>Posts</h2>
                    <p><a href="#" role="button">See All</a></p>
                  </div>

                </div>




      </div>

  </div>

{% endblock content %}
